@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './vars';

/*Colors*/
/*Basic settings*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  padding-top: 30px;
  background: #282B38;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.no-padding {
  padding: 0 !important;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 1850px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-color: $orange;
  border-radius: 90px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 146%;
  padding: 14px 27px;
  cursor: pointer;
}

.btn__details {
  background-color: transparent;
  border-radius: 90px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 146%;
  padding: 14px 36px;
  border: 1px solid $orange;
  cursor: pointer;
}

.large__btn {
  background-color: $orange;
  border-radius: 90px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 146%;
  padding: 23px 97px 22px 33px;
  position: relative;
  cursor: pointer;

  &::before {
    content: url(../assets/img/arrow-circle.svg);
    right: 21px;
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-bottom: 19px;
  &::after {
    position: absolute;
    content: "";
    width: 85px;
    height: 2px;
    background: $orange;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.arrows-right,
  .arrows-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    cursor: pointer;
  }

  .arrows-right {
    right: -75px;
  }

  .arrows-left {
    left: -91px;
  }

.header {
  padding: 25px 0;
  &__content {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-link {
    font-size: 16px;
    line-height: 146%;
    transition: all .3s;
    &:hover {
      color: $orange;
    }
  }
  &__menu-item + .header__menu-item {
    margin-left: 45px;
  }
}

.slider {
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    filter: drop-shadow(5px 15px 40px rgba(11, 24, 97, 0.32));
    border-radius: 24px;
    position: relative;
    display: none;
  }
  &__item-active {
    display: block;
  }
  &__arrow-left,
  &__arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__arrow-right {
    right: 148px;
  }
  &__arrow-left {
    left: 148px;
  }
  &__content {
    padding-top: 163px;
  }
  &__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 126%;
    width: 463px;
    margin-bottom: 8px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 135.5%;
    width: 345px;
    margin-bottom: 52px;
  }
}

.form {
  padding-top: 102px;
  position: relative;
  &__inner {
    display: flex;
    margin-top: 60px;
  }
  &__title {
    width: 626px;
    text-align: left;
    padding-bottom: 0;
    &::after {
      display: none;
    }
    &::before {
      position: absolute;
      content: "";
      background-color: $green;
      right: 50px;
      bottom: 20px;
      width: 85px;
      height: 2px;
    }
  }
  &__content {
    padding: 70px 20px 41px 50px;
    width: 626px;
    height: 597px;
    background: $gray;
    border-radius: 20px;
    position: relative;
    margin-bottom: 105px;
    filter: drop-shadow(5px 15px 40px rgba(11, 24, 97, 0.32));
  }
  &__circles {
    position: absolute;
    top: -30px;
    left: 50px;
    width: 262px;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__circle {
    width: 60px;
    height: 60px;
    background: #282B38;
    border: 2px solid #363A4D;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BFBFBF;
    font-weight: 700;
    font-size: 24px;
    line-height: 126%;
  }
  &__circle-active {
    background: $green;
    border: 2px solid $green;
    color: #FFFFFF;
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 625px;
    height: 917px;
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    margin-bottom: 20px;
    margin-right: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input label{
    font-size: 15px;
    line-height: 126%;
    font-weight: 500;
    display: block;
    position: relative;
    margin-bottom: 5px;
  }

  &__input input,
  &__input select,
  &__input textarea {
    font-size: 15px;
    line-height: 126%;
    width: 248px;
    height: 56px;
    border-radius: 10px;
    padding: 0 20px;
    color: #000;
    outline: transparent;
    &::placeholder {
      color: #CBCBCB;
      font-size: 15px;
      line-height: 126%;
    }
  }

  &__label-volume {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    font-size: 14px;
    color: #E58D35;
    text-decoration: underline;
    cursor: pointer;
  }

  &__checkbox {
    margin-top: 15px;
    width: 248px;
    height: 62px;
    margin-right: 30px;
    & div {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__checkbox-input {
    width: 24px;
    height: 24px;
    margin-right: 9px;
  }

  &__checkbox-label{
    font-weight: 500;
    font-size: 15px;
    line-height: 126%;
  }

  &__photo {
    margin-top: 35px;
    margin-right: 30px;
    margin-bottom: 46px;
  }

  &__photo-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  &__photo-name {
    font-size: 15px;
    line-height: 126%;
  }

  &__photo-delete {
    font-size: 14px;
    line-height: 126%;
    text-decoration: underline;
    color: #E53535;
    cursor: pointer;
  }

  &__photo-download {
    width: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    line-height: 126%;
    position: relative;
  }

  &__photo-input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__volume {
    width: 354px;
    height: 627px;
    background-color: $gray;
    padding: 48px 53px 41px;
    border-radius: 20px;
    // display: none;
    position: relative;
  }

  &__volume-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 126%;
    text-transform: uppercase;
    margin-bottom: 23px;
  }

  &__volume-btn {
    display: block;
    margin-top: 33px;
    padding: 23px 128px 22px 33px;
  }

  &__close {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 17px;
    right: 17px;
    cursor: pointer;
    & span {
      display: block;
      background-color: #7E839A;
      width: 100%;
      height: 1px;
    }
    & span:first-child {
      transform: rotate(45deg);
    }
    & span:last-child {
      margin-top: -1px;
      transform: rotate(-45deg);
    }
  }

  &__request {
    position: relative;
    width: 626px;
    height: 657px;
    background-color: $gray;
    padding: 48px 50px 41px;
    border-radius: 20px;
  }

  &__request-text {
    font-size: 17px;
    line-height: 126%;
    margin-bottom: 27px;
  }

  &__request-title {
    margin-bottom: 12px;
  }

  &__request-input input{
    width: 526px;
  }

  &__request-input {
    margin-right: 0;
  }

  &__request-input textarea {
    width: 526px;
    resize: none;
    height: 99px;
    padding: 20px;
  }
}

// benefits

.benefits {
  width: 1820px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: $gray;
  padding: 85px 0 70px;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 51px;
  }

  &__item {
    width: 263px;
    margin-bottom: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__circle {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 1px solid #6C7188;
    margin-bottom: 22px;
    padding: 10px;
  }

  &__circle-fone {
    background-color: $green;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 18px;
    line-height: 124.5%;
    width: 200px;
  }

  &__text-large {
    width: 100%;
  }
}

.options {
  padding: 91px 0 101px;
  &__items {
    width: 1140px;
    margin: 49px auto 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    // overflow-x: hidden;
  }

  // &__items-wrapper {
  //   width: 1920px;
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__item {
    width: 360px;
    height: 482px;
    border-radius: 20px;
    background-color: $gray;
    text-align: center;
  }

  &__img {
    border-radius: 20px 20px 0 0;
    margin-bottom: 27px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 124.5%;
    margin-bottom: 13px;
  }

  &__content {
    display: flex;
    width: 225px;
    justify-content: space-between;
    margin: 0 auto 25px;
    font-size: 16px;
    line-height: 124.5%;
  }

  &__days,
  &__weight {
    position: relative;
    padding-left: 34px;
  }

  &__days::after {
    content: url(../assets/img/options/calendar.svg);
    width: 22px;
    height: 22px;
    top: -3px;
    left: 0;
    position: absolute;
  }

  &__weight::after {
    content: url(../assets/img/options/box.svg);
    width: 24px;
    height: 24px;
    top: -2px;
    left: 0;
    position: absolute;
  }

  &__price {
    font-size: 22px;
    line-height: 124.5%;  
    margin-bottom: 18px;
  }

  &__price span {
    font-size: 44px;
    font-weight: 700;
  }

  &__btn {
    padding: 14px 18px;
    margin-right: 14px;
  }

}

.services {
  background-color: $gray;
  width: 1820px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 97px 0 100px;

  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    position: relative;
  }

  &__item {
    width: 360px;
    height: 482px;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);
  }

  &__item-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
  }

  &__item-content {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 328px;
  }

  &__item-btn {
    width: 153px;
    height: 50px;
    display: block;
  }

  &__item-text {
    margin-bottom: 14px;
    font-weight: 300;
  }

  &__item-title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 22px;
    line-height: 124.5%;
  }
}

.about {
  padding: 148px 0 120px;
  &__items {
    position: relative;
  }

  &__items-title {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 124.5%;
    margin-bottom: 44px;
    &::after {
      position: absolute;
      content: "";
      width: 85px;
      height: 2px;
      background: $green;
      bottom: -20px;
      left: 0;
    }
  }
  &__items-text {
    font-size: 18px;
    line-height: 170%;
    width: 565px;
    & p {
      margin-bottom: 20px;
    }
  }

  &__item-img {
    position: absolute;
    right: -45px;
    top: -190px;
  }
}

// questions

.question {
  padding: 27px 0 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__items {
    margin-right: 34px;
  }

  &__item {
    width: 716px;
    height: 64px;
    border: 1px solid #3A444E;
    border-radius: 10px;
    padding: 21px 10px 21px 34px;
    margin-bottom: 16px;
    position: relative;
    animation: fade 3s;

    &::after {
      position: absolute;
      top: 18px;
      right: 19px;
      content: url(../assets/img/arrow-circle-left.svg);
      width: 27px;
      height: 27px;
      z-index: 99;
      cursor: pointer;
    }

    &.active {
      height: 152px;
      background-color: #fff;
      color: #282B38;
    }

    &.active::after {
      content: url(../assets/img/arrow-circle-left-orange.svg);
    }

    &.active .question__item-text {
      display: block;
    }
  }

  &__item-text {
    margin-top: 20px;
    display: none;
  }

  &__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 124.5%;
  }

  &-form {
    margin-right: 0;
    & input {
      width: 100%;
    }
    & textarea {
      width: 100%;
      resize: none;
      height: 70px;
      padding: 19px;
      &::placeholder {
        font-weight: 400;
        font-size: 15px;
        line-height: 126%;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}

.form__question {
  background: $gray;
  box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);
  border-radius: 20px;
  padding: 38px 40px;

  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 126%;
    margin-bottom: 8px;
  }

  &-text {
    font-size: 17px;
    line-height: 126%;
    margin-bottom: 26px;
  }

  &-btn {
    width: 100%;
    display: block;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// cooperation

.cooperation {
  padding: 92px 340px;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  border-radius: 20px;
  width: 1820px;
  margin: 0 auto;

  &__title {
    &::after {
      background: $green;
    }
  }

  &__subtitle {
    font-size: 15px;
    font-weight: 300;
    
  }

  &__inner {
    margin-top: 85px;
  }

  &__item {
    display: flex;
  }

  &__text p {
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 17px;
    line-height: 156.5%;
  }

  &__img-right {
    margin-left: 30px;
    border-radius: 20px;
  }

  &__img-left {
    margin-right: 62px;
  }

  &__img-right img,
  &__img-left  img{
    border-radius: 20px;
  }

}

// footer

.footer {
  padding: 70px 0 50px;

  &__line {
    width: 100%;
    height: 2px;
    background: $orange;
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    width: 263px;
    margin-right: 150px;
  }

  &__logo {
    margin-bottom: 29px;
  }

  &__phone,
  &__adress,
  &email {
    line-height: 2.2;
  }

  &__adress {
    width: 283px;
  }

  &__social {
    margin-top: 21px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 146%;
    margin-bottom: 14px;
  }

  &__delivery {
   margin-right: 97px;
  }

  &__services {
   margin-right: 72px;
  }

  &__delivery-link,
  &__services-link,
  &__info-link {
    color: #85899C;
    font-size: 16px;
    line-height: 160.5%;
    line-height: 2.5;
    transition: all .3s;
    &:hover {
      color: #fff;
    }
  }

  &__delivery-link {
    width: 114px;
    display: block;
  }

  &__services-link {
    width: 214px;
    display: block;
  }
  &__info-link {
    width: 300px;
    display: block;
  }

  &__social-link {
    margin-right: 8px;
  }
}














