@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './vars';

/*Colors*/
/*Basic settings*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  padding-top: 30px;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.no-padding {
  padding: 0 !important;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-color: $orange;
  border-radius: 90px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 146%;
  padding: 14px 27px;
}

.large__btn {
  background-color: $orange;
  border-radius: 90px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 146%;
  padding: 23px 97px 22px 33px;
  position: relative;

  &::before {
    content: url(../assets/img/arrow-circle.svg);
    right: 21px;
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    transform: translateY(-50%);
  }
}